{% extends "base.html" %}
{% block title %}Archive{% endblock %}
{% block description %}Archive for khanio.com blog posts{% endblock %}

{% block content %}
<article class="post">
	<div class="box-wrap">
		<div class="box">
			<header>
				<h2 class="post-title"><a href="{{ SITEURL }}/archives.html" title="Permalink to The Archives" rel="bookmark">The Archive</a></h2>
			</header>
			<div class="post-content">
				<div class="archive-box">
					<ul>
						{% for article in dates %}
						<li><a href="{{ SITEURL }}/{{ article.url }}"><span class="archive-post-date">{{ article.locale_date }}</span>&nbsp&nbsp{{ article.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="post-navigation-wrap">
				<ul class="post-navigation clearfix">
					<li><a href="{{ SITEURL }}" rel="prev"><strong><i class="icon-arrow-left"></i></strong>&nbsp&nbspBack to Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</article>
{% endblock %}