{% extends "base.html" %}
{% block title %}{{article.title}}{% endblock %}
{% block description %} {{ article.title }}{% endblock %}

{% block content %}
<article class="post">
	<div class="box-wrap">
		<div class="box">
			<header>
				<div class="date-title" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</div>
				<h2 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title }}" rel="bookmark">{{ article.title }}</a></h2>
				<div class="meta-wrap">
					<ul class="meta">
						{% if not article.category == 'posts' %}
						<li>Posted In: <a href="{{ SITEURL }}/{{ article.category.url }}" rel="category tag">{{ article.category }}</a></li>
						{% endif %}
						{% if article.tags %}
						<li>Tagged In:{% for tag in article.tags %} <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>&nbsp&nbsp{% endfor %}</li>
						{% endif %}
					</ul>
				</div>
			</header>

			<!--<a class="featured-image" href="" title="" rel="bookmark"><img width="1200" height="600" src="http://cdn3.okaythemes.com/verb/files/2013/01/feet.jpg" alt="feet"></a>-->
			<div class="post-content">
				<p class="article-summary">{{ article.summary }}</p>
				<p>{{ article.content }}</p>
				<div class="meta-wrap">
					<!-- tweet button -->  
					<div style="float:left;">
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="khan_io">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</div>
 					<!-- tweet button --> 

					<!-- facebook like button-->
					<div style="float:left;">
						<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
					</div>
					<!-- facebook like button-->

					<!-- Google +1 button -->  
					<div style="float:left;">
						<!-- Place this tag where you want the +1 button to render -->  
						<g:plusone size="medium" annotation="inline" width="60"></g:plusone> 

						<!-- Place this tag after the last +1 button tag. -->
						<script type="text/javascript">
						  (function() {
						    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
						    po.src = 'https://apis.google.com/js/plusone.js';
						    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
						  })();
						</script>
					<!-- Google +1 button -->
				</div>
			</div>
			<div class="post-navigation-wrap">
				<ul class="post-navigation clearfix">
					<li><a href="{{ SITEURL }}" rel="prev"><strong><i class="icon-arrow-left"></i></strong>&nbsp&nbspBack to Blog</a></li>
				</ul>
			</div>
			{% if DISQUS_SITENAME %}
			<div class="post-comments">
				<div id="disqus_thread"></div>
				<script type="text/javascript">
					var disqus_identifier = "{{ article.url }}";
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
				<noscript>Please enable JavaScript to view <a href="http://disqus.com/?ref_noscript">comments</a>.</noscript>
			</div>
			{% endif %}
		</div>
	</div>
</article>
{% endblock %}