{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block description %}Home page of Khanio.com{% endblock %}
{% block keywords %} <meta name="keywords" content="{% for tag in tag_cloud %}{{ tag.0 }},{% endfor %}">{% endblock %}

{% block content %}
<div class="posts">
{% for article in articles_page.object_list %}
<article class="post">
	<div class="box-wrap">
		<div class="box">
			<header>
				<div class="date-title" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</div>
				<h2 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}" title="Permalink to {{ article.title }}" rel="bookmark">{{ article.title }}</a></h2>
			</header>
			<div class="post-content">
				<p class="post-summary">{{ article.summary }}</p>
				<p><a class="more-link" href="{{ SITEURL }}/{{ article.url }}">Read More</a></p>
			</div>
		</div>
	</div>
</article>
{% endfor %}

{% include 'pagination.html' %}
</div>
{% endblock %}