<div class="widget">
  <h6 class="widgettitle">Resume</h6>
  <p>"If you call failures experiments, you can put them in your resume and claim them as achievements." - Mason Cooley</p>
  <a href="{{ SITEURL }}/files/Resume_Public.pdf" target="_blank">Download</a>
</div>

<div class="widget">
	<h6 class="widgettitle">Public GPG Key</h6>
	<p>For all sensitive data transfer kindly use the linked key.</p>
	<a href="{{ SITEURL }}/files/public.key">00CF0BDD</a>
</div>

{% if SOCIAL %}
<div class="widget">
	<h6 class="widgettitle">Social</h6>
	<ul class="social-cloud">
		{% for name, link in SOCIAL|sort %}
			<li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<div class="widget">
	<h6 class="widgettitle">Categories</h6>
	<ul>
		{% for category,article in categories|sort %}
			<li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
		{% endfor %}
	</ul>
</div>

<div class="widget">
	<h6 class="widgettitle">Tags</h6>
	<ul class="tag-cloud">
		{% for tag,article in tags|sort %}
			<li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
		{% endfor %}
	</ul>
</div>

{% if LINKS %}
<div class="widget last-widget">
	<h6 class="widgettitle">Blogroll</h6>
	<ul>
		{% for name, link in LINKS|sort %}
			<li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<div class="widget">
	<iframe class="clarity-widget" data-c-id="15860" data-c-width="" frameborder="0"></iframe>
	<script src="https://clarity.fm/assets/widget_loader.js"></script>
</div>