.brand {
	font-size: 1em !important;
	font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover {
	text-decoration: none !important ;
}

.brand > img {
	margin-right: 5px;
	margin-left: 0px;
}

.nav a {
	font-size: 0.9em;
}

.nav-collapse {
	padding-top: 5px;
}

.navbar .btn-navbar {
	margin-top: 0.5em;
}

footer {
	color: @themeGrayDark !important;
	font-size: 0.7em;
}

article {
	dispaly: block;
}

.post {
	background-color: #ffffff;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	margin-bottom: 30px !important;
}

.post .box-wrap {
	display: inline-block;
	width: 100%;
}

.post .box {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.post .box header {
	width: 90%;
	margin: 50px auto 0 auto;
}

.date-title {
	background: #f3f3f3;
	color: #aaa;
	font-size: 11px;
	line-height: 20px;
	margin-bottom: 35px;
	padding: 0 6px;
	display: inline-block;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, sans-serif;
}

.post-title {
	font-family: Montserrat, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;	
	letter-spacing: -1px;	
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	padding-bottom: 25px;
}

.post-title a {
	color: @themeGrayDark;
	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	transition: .07s ease-in;
}

.post-title a:hover {
	text-decoration: none;
	color: @themeGreen;
	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	transition: .07s ease-in;
}

.post .featured-image, .post .fitvid {
	max-width: 100%;
	width: 100%;
	margin-bottom: 50px;
	display: block;
	float: left;
}

#content img {
	max-width: 100%;
	height: auto;
}

.post .featured-image img {
	max-width: 100%;
	width: 100%;
	height: auto;
	float: left;
	display: inline-block;
}

.post .post-content {
	font: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	width: 90%;
	margin: 0 auto 70px auto;
	clear: both;
}

#content p {
	position: relative;
	margin: 0 0 30px;
}


.post .post-comments {
	font: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	width: 90%;
	margin: 0 auto 70px auto;
	clear: both;
}

#content .meta-wrap {
	float: left;
	width: 100%;
	margin: 10px 0 20px 0;
}

#content .meta {
	float: left;
	font-size: 0.7em;
	color: #999;
	margin: 0 0 0 0 !important;
	display: inline-block;
}

#content .meta a {
	color: #999;
}

#content .meta a:hover {
	text-decoration: none;
	color: @themeGreen;
	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	transition: .07s ease-in;
}

.share {
	float: right;
}

.share a {
	color: #ccc;
	margin-left: 2px;
}

.post .post-content ul {
	margin: 0 0 30px 18px;
}

ol, ul {
	list-style: none;
}

.post-navigation-wrap {
	width: 100%;
	background: #f9f9f9;
	float: left;
	margin: 10px 0 40px 0;
}

.post-navigation {
	width: 90%;
	margin: 0 auto;
}

.post-navigation a {
	color: #444 !important;
	font-size: 0.7em;
	width: 50%;
	float: left;
	padding: 20px 0px;
}

.post-navigation a:hover {
	text-decoration: none;
	color: @themeGreen !important;
	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	transition: .07s ease-in;
}

.archive-box {
	margin-bottom: 40px;
	width: 100%;
	float: left;
}

.archive-box ul {
	padding: 0;
	margin: 0 0 0 0 !important;
}

.archive-box li {
	list-style: none;
}

.archive-box a {
	padding: 8px 0;
	border-bottom: solid 1px #f3f3f3;
	width: 100%;
	float: left;
	position: relative;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	transition: .1s ease-in;
}

.archive-post-date {
	color: #999 !important;
}


#sidebar .widget {
	position: relative;
	margin-bottom: 25px;
	padding-bottom: 25px;
}

#sidebar .widgettitle {
	color: @themeGrayDark !important;
	margin-bottom: 10px;
}

#sidebar a {
	color: @themeGrayDark !important;
}

#sidebar a:hover {
	color: @themeGreen !important;
}

